{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prefer-stateless-function": "warn",
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ]
  }
}