## IDE
.idea

## webpack
node_modules
wp-content/themes/wp-react-theme/build
sw.js
appcache

## OSX
.DS_Store

## WordPress.gitignore
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

## Docker
wp-content/plugins/
wp-content/themes/twentyseventeen/
wp-content/themes/index.php
wp-content/index.php
