@import '../shared/config';

.pagination {
  align-items: flex-end;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__page-link {
  cursor: pointer;
  margin: 0 .25em;
  padding: 0 .25em;

  &--prev {
    margin: 0 .5em 0 0;
    padding: 0;
  }

  &--next {
    margin: 0 0 0 .5em;
    padding: 0;
  }

  .pagination__page--disabled & {
    border: 0;
    color: $text-color;
    cursor: auto;
  }

  .pagination__page--active & {
    border-color: $link-color;
  }
}
