*
!.gitignore

!wp-content
wp-content/*

!wp-content/themes
wp-content/themes/*

!wp-content/themes/wp-react-theme
!wp-content/themes/wp-react-theme/*

!wp-content/w3tc-config
!wp-content/w3tc-config/*
